<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forfries.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.forfries.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <com.forfries.result property="username" column="username" jdbcType="VARCHAR"/>
            <com.forfries.result property="password" column="password" jdbcType="VARCHAR"/>
            <com.forfries.result property="status" column="status" jdbcType="INTEGER"/>
            <com.forfries.result property="role" column="role" jdbcType="VARCHAR"/>
            <com.forfries.result property="cinemaId" column="cinema_id" jdbcType="BIGINT"/>
            <com.forfries.result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <com.forfries.result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        status,role,cinema_id,
        created_at,updated_at
    </sql>
</mapper>
